
*.vsidx
.vs/VOIP/v17/Solution.VC.db
.vs/VOIP/v17/ipch/d310ec12830742e1.ipch
.vs/VOIP/v17/ipch/6a98659397ae3888.ipch
.vs/VOIP/v17/ipch/68603756c96b7745.ipch
.vs/VOIP/v17/ipch/65ed63fad882cc50.ipch
.vs/VOIP/v17/ipch/3b97fe6dc6a5885c.ipch
.vs/VOIP/v17/ipch/3554ab4a1788cf2a.ipch
.vs/VOIP/v17/ipch/1641836b1345ca40.ipch
.vs/VOIP/v17/fileList.bin
.vs/VOIP/v17/Browse.VC.db
.vs/VOIP/v17/.suo
.vs/VOIP/FileContentIndex/read.lock
Config/SteamVRBindings/vive_tracker_waist.json
Config/SteamVRBindings/vive_tracker_right_shoulder.json
Config/SteamVRBindings/vive_tracker_right_knee.json
Config/SteamVRBindings/vive_tracker_right_foot.json
Config/SteamVRBindings/vive_tracker_right_elbow.json
Config/SteamVRBindings/vive_tracker_left_shoulder.json
Config/SteamVRBindings/vive_tracker_left_knee.json
Config/SteamVRBindings/vive_tracker_left_foot.json
Config/SteamVRBindings/vive_tracker_left_elbow.json
Config/SteamVRBindings/vive_tracker_keyboard.json
Config/SteamVRBindings/vive_tracker_handed.json
Config/SteamVRBindings/vive_tracker_chest.json
Config/SteamVRBindings/vive_tracker_camera.json
Config/SteamVRBindings/vive_tracker.json
Config/SteamVRBindings/vive_pro.json
Config/SteamVRBindings/vive_cosmos_controller.json
Config/SteamVRBindings/vive_controller.json
Config/SteamVRBindings/vive.json
Config/SteamVRBindings/steamvr_manifest.json
Config/SteamVRBindings/rift.json
Config/SteamVRBindings/oculus_touch.json
Config/SteamVRBindings/knuckles.json
Config/SteamVRBindings/indexhmd.json
Config/SteamVRBindings/hpmotioncontroller.json
Config/SteamVRBindings/holographic_controller.json
Config/SteamVRBindings/gamepad.json
Config/steamvr_ue_editor_app.json
.vs/VOIP/v17/Browse.VC.db-shm
.vs/VOIP/v17/Browse.VC.db-wal
.vs/VOIP/v17/Browse.VC.opendb
.vs/VOIP/v17/Solution.VC.db-shm
.vs/VOIP/v17/Solution.VC.db-wal
Binaries/Win64/UE4Editor-VOIP-Win64-DebugGame.dll
Binaries/Win64/UE4Editor-VOIP-Win64-DebugGame.pdb
Binaries/Win64/UE4Editor-Win64-DebugGame.modules
Binaries/Win64/VOIPEditor-Win64-DebugGame.target
Intermediate/Build/BuildRules/VOIPModuleRules.dll
Intermediate/Build/BuildRules/VOIPModuleRules.pdb
Intermediate/Build/BuildRules/VOIPModuleRulesManifest.json
Intermediate/Build/SourceFileCache.bin
Intermediate/Build/Unused/VOIP.log
Intermediate/Build/Win64/ActionHistory.bin
Intermediate/Build/Win64/UE4Editor/DebugGame/ActionHistory.bin
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/Default.rc2.res
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/Definitions.VOIP.h
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/LiveCodingInfo.json
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.dll.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.exp
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.lib
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.lib.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.suppressed.exp
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/UE4Editor-VOIP-Win64-DebugGame.suppressed.lib
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.init.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIP.init.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP/VOIPGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/VOIP/Definitions.VOIP.h
Intermediate/Build/Win64/UE4Editor/Inc/VOIP/Timestamp
Intermediate/Build/Win64/UE4Editor/Inc/VOIP/VOIP.init.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/VOIP/VOIPClasses.h
Intermediate/Build/Win64/UE4Editor/Inc/VOIP/VOIPGameModeBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/VOIP/VOIPGameModeBase.generated.h
Intermediate/Build/Win64/VOIPEditor/DebugGame/ActionHistory.bin
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.cpp
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.obj
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch.response
Intermediate/Build/Win64/VOIPEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.txt
Intermediate/Build/Win64/VOIPEditor/DebugGame/Makefile.bin
Intermediate/Build/Win64/VOIPEditor/DebugGame/Metadata.dat
Intermediate/Build/Win64/VOIPEditor/DebugGame/VOIPEditor.deps
Intermediate/Build/Win64/VOIPEditor/DebugGame/VOIPEditor.uhtmanifest
Intermediate/Build/Win64/VOIPEditor/DebugGame/VOIPEditor.uhtpath
Intermediate/Build/Win64/VOIPEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Intermediate/ProjectFiles/UE4.vcxproj
Intermediate/ProjectFiles/UE4.vcxproj.filters
Intermediate/ProjectFiles/UE4.vcxproj.user
Intermediate/ProjectFiles/VOIP.vcxproj
Intermediate/ProjectFiles/VOIP.vcxproj.filters
Intermediate/ProjectFiles/VOIP.vcxproj.user
Intermediate/ReimportCache/3688439234.bin
Intermediate/TargetInfo.json
Plugins/VOIP_Plugin/Binaries/Win64/UE4Editor-VOIP_Plugin-Win64-DebugGame.dll
Plugins/VOIP_Plugin/Binaries/Win64/UE4Editor-VOIP_Plugin-Win64-DebugGame.pdb
Plugins/VOIP_Plugin/Binaries/Win64/UE4Editor-Win64-DebugGame.modules
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Default.rc2.res
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Definitions.VOIP_Plugin.h
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/LiveCodingInfo.json
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.cpp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.cpp.obj
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.cpp.obj.response
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.cpp.txt
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.gen.cpp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.gen.cpp.obj
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.gen.cpp.obj.response
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/Module.VOIP_Plugin.gen.cpp.txt
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.dll.response
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.exp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.lib
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.lib.response
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.suppressed.exp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/DebugGame/VOIP_Plugin/UE4Editor-VOIP_Plugin-Win64-DebugGame.suppressed.lib
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Development/VOIP_Plugin/Definitions.VOIP_Plugin.h
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Inc/VOIP_Plugin/Timestamp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Inc/VOIP_Plugin/VoiceCaptureComponent.gen.cpp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Inc/VOIP_Plugin/VoiceCaptureComponent.generated.h
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Inc/VOIP_Plugin/VOIP_Plugin.init.gen.cpp
Plugins/VOIP_Plugin/Intermediate/Build/Win64/UE4Editor/Inc/VOIP_Plugin/VOIP_PluginClasses.h
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-10ECDFAE466E1184AAF5709632238140/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-FB181E1740248A035E6E0F9118755FEF/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/LiveLink.ini
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/MagicLeapLightEstimation.ini
Saved/Config/Windows/MotoSynth.ini
Saved/Config/Windows/Niagara.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/PostSplashScreen.ini
Saved/Config/Windows/RuntimeOptions.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/Synthesis.ini
Saved/Config/Windows/UnrealInsightsSettings.ini
Saved/Config/Windows/VariantManagerContent.ini
Saved/Logs/UnrealVersionSelector-2022.09.09-10.37.24.log
Saved/Logs/VOIP.log
Saved/Logs/VOIP_2.log
VOIP.sln
